{% extends 'index.html.twig' %}

{% block title %} Create {% endblock %}

{% block body %}
  <div class="container">
    <div class="mt-3 text-center">
      <h2>What should this new world look like?</h2>

      {{ form_start(form) }}
        {{ form_row(form.description, { attr: { class: 'form-control' } }) }}
        <br>

        <a href="/" class="btn btn-secondary">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
