{% extends 'index.html.twig' %}

{% block title %} Explore {{ world.name }} {% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="/assets/chat.css" />
{% endblock %}

{% block body %}
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <a href="/" style="text-decoration: none"> 🔙 </a> &nbsp;&nbsp;
        Explore the world: {{ world.name }}
      </div>
    </header>

    <main class="msger-chat">
      {% for message in conversation.history %}
        {% include 'World/includes/_' ~ message.role ~ '_message.html.twig' %}
      {% endfor %}
    </main>

    <form class="msger-inputarea" action="/explore/{{ world._id }}/message" method="post">
      <input type="text" class="msger-input" placeholder="Where shall you go today?...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
{% endblock body %}

{% block scripts %}
  <script type="application/javascript" src="/assets/chat.js"></script>
{% endblock scripts %}
