<div class="msg left-msg">
  <div
    class="msg-img"
    style="background-image: url(https://icons.veryicon.com/png/o/miscellaneous/standard/bot.png)"
  ></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">AI</div>
      <div class="msg-info-time">{{ date | date('H:i') }}</div>
    </div>

    <div class="msg-text"> {{ message }} </div>
  </div>
</div>
