<div class="msg right-msg">
  <div
    class="msg-img"
    style="background-image: url(https://icons.veryicon.com/png/o/file-type/linear-icon-2/user-132.png)"
  ></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">{{ message.role }}</div>
      <div class="msg-info-time">{{ message.time }}</div>
    </div>

    <div class="msg-text"> {{ message.message }} </div>
  </div>
</div>